name: Draft a release and attach binaries

on:
  push:
    tags:
      - '*'

permissions:
  contents: read

jobs:
  ################### Draft the Release ###################
  # This first step will create a *draft* release based on the tag name. In the
  # case where immutable releases are enabled, the release MUST be in draft
  # mode, otherwise we would not be able to attach the release assets (since
  # the release is immutable once published.
  create-draft-release:
    runs-on: ubuntu-latest
    permissions:
      # contents:write is required to create the draft release
      contents: write
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-tags: 'true'
          ref: ${{ github.ref }}

      - name: Create draft release from tag
        env:
          GH_TOKEN: ${{ github.token }}
        run: gh release create "${{ github.ref_name }}" --title "${{ github.ref_name }}" --draft --notes-from-tag

  ################### Linux Binaries ###################
  linux-binaries:
    needs: [ create-draft-release ]
    runs-on: ${{ matrix.operating-system }}
    # The matrix defines which combination of binaries you want to build
    strategy:
      matrix:
        operating-system:
          - ubuntu-latest
        php-versions:
          - 8.4
        zts-mode:
          - ts
          - nts
    permissions:
      # contents:write is required to upload to the release assets
      contents: write
    steps:
      - uses: actions/checkout@v6

      # Install the desired version of PHP in order to build the extension for it
      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php-versions }}
        env:
          phpts: ${{ matrix.zts-mode }}

      # Finally, this invokes the action, which builds the extension, creates
      # the archive with the correct naming, and uploads it to the release for
      # the given tag name
      - name: Build Linux binaries
        uses: php/pie-ext-binary-builder@0.0.2
        with:
          configure-flags: '--with-hello-name=PREBUILT_${{ github.run_id }}_${{ github.run_attempt }}'
          release-tag: ${{ github.ref_name }}
          github-token: ${{ secrets.GITHUB_TOKEN }}

  ################### Windows Binaries ###################
  windows-extension-matrix:
    needs: [ create-draft-release ]
    runs-on: ubuntu-latest
    outputs:
      matrix: ${{ steps.extension-matrix.outputs.matrix }}
    steps:
      - uses: actions/checkout@v6
      - name: Get the extension matrix
        id: extension-matrix
        uses: php/php-windows-builder/extension-matrix@v1
        with:
          php-version-list: '7.4, 8.0, 8.1, 8.2, 8.3, 8.4, 8.5'

  windows-build:
    needs: windows-extension-matrix
    runs-on: ${{ matrix.os }}
    strategy:
      matrix: ${{fromJson(needs.windows-extension-matrix.outputs.matrix)}}
    steps:
      - uses: actions/checkout@v6
      - name: Build the extension for Windows
        uses: php/php-windows-builder/extension@v1
        with:
          php-version: ${{ matrix.php-version }}
          arch: ${{ matrix.arch }}
          ts: ${{ matrix.ts }}
          args: '--with-hello-name=WINDOWS_${{ github.run_id }}_${{ github.run_attempt }}'

  windows-release:
    runs-on: ubuntu-latest
    needs: windows-build
    permissions:
      # contents:write is required to view draft releases, and upload to the release assets
      contents: write
    steps:
      - name: Upload artifact to the release
        uses: php/php-windows-builder/release@v1
        with:
          release: ${{ github.ref_name }}
          token: ${{ secrets.GITHUB_TOKEN }}
          draft: 'true'
